<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1008713916759-8rrrh8ifpt8gu90409pnoghor0j4k5k5</string>
			</array>
		</dict>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PHP File</string>
			<key>UTTypeIdentifier</key>
			<string>public.php</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>php</string>
				<key>public.mime-type</key>
				<string>application/x-httpd-php</string>
			</dict>
		</dict>
	</array>
    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera to scan documents.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>We need access to your microphone for document scanning.</string>
    <key>NSCameraUsageDescription</key>
    <string>Your message explaining why the app needs access to the camera</string>

</dict>
</plist>
