<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1008713916759-8rrrh8ifpt8gu90409pnoghor0j4k5k5</string>
			</array>
		</dict>
	</array>
    <key>NSCameraUsageDescription</key>
    <string>This app requires access to the camera to scan documents.</string>

    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>public.php</string>
            <key>UTTypeDescription</key>
            <string>PHP File</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <string>php</string>
                <key>public.mime-type</key>
                <string>application/x-httpd-php</string>
            </dict>
        </dict>
    </array>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app requires access to your photo library to select files for upload.</string>
    <key>NSCameraUsageDescription</key>
    <string>This app requires access to your camera to scan documents.</string>
    <key>UIFileSharingEnabled</key>
    <true/>

    
</dict>
</plist>
